{%extends 'base.html'%}
{%load static%}
{%block html%}
<html>
    <head></head>
    <body>
        <form action = "http://127.0.0.1:8000/visitors/results" accept-charset="utf-8" name = "graph-option" method = "get">
            <fieldset style = "width:890">
                <legend>입력</legend>
                    <br>
                    단위 선택
                    <select name = "scale">
                        <option value="none">=== 선택 ===</option>
                        <optgroup label = "시간 단위">
                            <option value = "time" >시간별</option>
                        </optgroup>
                         <optgroup label = "날짜 단위">
                            <option value = "day">일간</option>
                            <option value = "week">주간</option>
                            <option value = "month">월간</option>
                        </optgroup>
                    </select> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
		        from : <input placeholder="YYYY-MM-DD" type = "text" name = "from" required/> &nbsp; &nbsp; &nbsp; &nbsp;
                to : <input placeholder="YYYY-MM-DD" type = "text" name = "to" required/> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp;<input type = "submit" value = "submit"/>
            </fieldset>
        </form><br>
        {% block content %}
            <img src = "{%static '/images/graph/foo.png'%}">
        {% endblock %}
    </body>
</html>
{%endblock html%}