{%extends 'base.html'%}
{%block html%}
    <div>
        <form id="set_period" name="set_period" method="get" action="{%url 'make'%}">
            <div class="panel panel-primary" style="float:left;margin-left:10px;width:50%;">
                <div class="panel-heading">제작 시간별 추이</div>
                <div class="panel-body">
                    {{form}}
                    <input type="submit" value="검색" style="width:10%;margin:7px;">
                </div>
            </div>
        </form>
    </div>
    {%block content%}
    {%endblock%}
{%endblock html%}