{%extends 'make/make.html'%}
{%block content%}
<div style="float:left;width:100%;">
    <div class="panel panel-primary" style="float:left; width:30%;margin:10px;">
        <div class="panel-heading">오늘 제작 시간 시간대별 추이<br>({{today}})</div>
        <table class="table" style="">
            <th>#</th>
            <th>시간대</th>
            <th>제작량</th>
            {%for key, value in lists.items%}
            <tr>
                <td>{{forloop.counter}}. </td>
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
{%endblock content%}