{% load static %}
<html>
    <style type ="text/css">
    div#side_left{
    width:200px;
    height:400px;
    background-color:red;
    float:left;
    margin:5px;
    }
    #side_rigth{
    width:200px;
    height:400px;
    float:left;
    margin:5px;
    }
    </style>
    <head>
      <title>Main </title>
    </head>
    <body>
     <div id="side_left">
         <a href="http://127.0.0.1:8000/"> 메인 페이지 <br></a>
         <a href="http://127.0.0.1:8000/cards"> 카드 목록 <br></a>
         <a href="http://127.0.0.1:8000/visitors"> 시간대별 접속자 <br></a>
         <a href="http://127.0.0.1:8000/search"> 시간대별 검색 키워드 <br></a>
     </div>
        {% block html %}
        {% endblock %}
    </body>
</html>