{% extends 'base.html' %}
{% load static %}

{% block html %}
 <div id="side_right">
 <br>
     전체 접속자 수 : {{ total_login}} <br> 어제 접속자 수 : {{ yesterday_login}} <br> 오늘 접속자 수 : {{today_login}}
    <br>
    <div style="float:left; width 50%;">
        <img src = "{%static '/images/graph/qaz.png'%}" alt="엥?">
    </div>
    <br>
    <div style="float:left; width 50%;">
      <div class="most_cards">
          인기 카드 1~5 <br>
          {% for card  in most_cards %}
              {{ card.title }} : {{ card.likes}}
          <br>
          {% endfor %}
      </div>
    </div>
 </div>
{% endblock %}